.pointer {
  cursor: pointer;
}
.title-container:hover {
  color: #00d1b2;
  opacity: 0.5;
  transform: translate3d(0, -2px, 4px) scale3d(1.02, 1.1, 1);
  transition: transform 100ms;
}
.task-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
}
.task-date{
  font-size: small;
  color: rgba(128, 128, 128, 0.77);
}
.task-done {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.77);
  transition: all 100ms;
}
